@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap%27');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/*BACKGROUND*/
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(30deg, rgba(250, 14, 14, 0.172), rgba(243, 208, 9, 0.357)), url("../img/savedogs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
}

/* NAVBAR */
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #4d1605db;
  padding: 0;
  margin: 0;
}

.logo {
  background: -webkit-linear-gradient(rgb(255, 174, 0), rgb(172, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.nav-links {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.nav-links li {
  text-transform: uppercase;
  display: inline;
}

.nav-links a {
  letter-spacing: 2px;
  font-size: 13px;
  text-decoration: none;
  padding: 7px 13px;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
}

.nav-links a:hover {
  transition: 0.5s;
  background-color: rgba(208, 129, 44, 0.863);
  border-radius: 15px;
}

/*NAVBAR END*/


/* FORM */
.contact-form {
  width: 85%;
  max-width: 600px;
  background: rgba(67, 31, 4, 0.77);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: none;
  border-radius: 40px 40px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.contact-form h1 {
  margin-top: 0;
  font-weight: 600;
  color: rgba(243, 117, 32, 1.0);
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);

}

.txtb {
  border: none;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  background-color: rgb(216, 212, 212);
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn input[type="submit"] {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #c71e12;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.contact-form .btn input[type="submit"]:hover {
  background: #dc9807;
}

.contact-form #error_message {
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;

}

/* FORM END*/

/* FOOTER */
footer {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #351301;
  color: #fff;
  place-items: center;
  font-size: 1.2rem;
  margin: 0;
  display: grid;
  flex-flow: row wrap;
  padding: 20px 30px 20px 30px;
}

footer p {
  padding: 0;
  font-size: 0.8em;
  color: hsla(0, 50%, 100%, 0.35);
  margin: 1em 0;
  font-size: 1rem;
}

footer li {
  display: inline-block;
  justify-content: space-between;
  padding: 7px;
}

footer p a {
  text-decoration: none;
  color: rgba(255, 175, 1, 0.678);
}

footer p a {
  text-decoration: none;
  color: rgba(255, 175, 1, 0.678);
}

/* FOOTER END*/