@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
  width: 100%;
  min-height: 100%;
}

/* MAIN */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    backdrop-filter: blur(2px) !important;
    position: relative;
    width: 100%;
    background-image: linear-gradient(30deg, rgba(250, 14, 14, 0.172), rgba(243, 114, 9, 0.357)), url("../img/aboutusImg.jpg");
<<<<<<< HEAD

}


.required-text {
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 20px;
  display: block;
}

=======
}


.required-text {
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 20px;
  display: block;
}

>>>>>>> f561b1b38a41e9ba243c3930f22c8dbbb5412114
.required-text p {
    color: #fff;
}


main {
  display: flex;
  justify-content: center;

  padding: 100px 0;
<<<<<<< HEAD
  min-height: calc(100vh - 70px);
}

@media (max-width: 1024px) {
  main {
    align-items: flex-start;
  }
}

=======
  min-height: calc(100vh - 200px);
}

@media (max-width: 1024px) {
  main {
    align-items: flex-start;
  }
}

>>>>>>> f561b1b38a41e9ba243c3930f22c8dbbb5412114
@media (min-width: 1025px) {
  main {
      align-items: center;
  }
}


#main-section {
    width: 85%;
    max-width: 90%;
    background: rgba(67, 31, 4, 0.77);
    padding: 30px 40px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    position: relative;
}

#main-section h1 {
    padding-bottom: 10px;
    font-size: 2rem;
    color: #f28a02;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

#main-section p {
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

#main-section a {
    text-decoration: none;
}

#main-section ul li a {
    display: inline-block;
    justify-content: space-between;
    padding: 7px;

}



.contactusButton {
    display: inline-block;
    padding: 5px 15px;
    color: rgb(68, 0, 0);
    background-color: rgba(243, 138, 0, 0.741);
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-top: 25px;
    transition: 1s;
    border-radius: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.contactusButton:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(51, 0, 0, 0.555);
}


/* MAIN END */
