body.dashboard {
	background: #fce8cf;
}

header.dashboard {
  background-color: #2c0f01e3;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 0px 10px #777;
}


.container {
    float: right;
    padding: 20px 30px;
}

@media (max-width: 768px) {
	header.dashboard {
		height: 70px;
		width: 100%;
	}



	header.dashboard nav {
		flex-direction: row;
	}

	header.dashboard, .container {
		width: 100%;
	}
}


@media (min-width: 769px) {

	header.dashboard {
		width: 250px;
	  bottom: 0;
		height: 100vh;
	}

	header.dashboard .logo {
		width: auto;
	}

	header.dashboard.menu, header.dashboard nav  {
		height: auto;
	}


	body.dashboard main {
		justify-content: flex-end;
	}

	header.dashboard button#navToggle {
		display: none;
	}

	.container {
		width: calc(100% - 250px);
	}

	header.dashboard nav {
		flex-direction: column;
	}

	header.dashboard nav .menu {
		width: 100%;
	}

	header.dashboard li.parent .fas  {
		display: none;
	}

	header.dashboard .dropdown {
		position: relative !important;
		top: 0 !important;
		width: auto !important;
		background: 0 none !important;
	}

	header.dashboard nav ul {
		  display: flex !important;
	}

	header.dashboard li {
		min-height: 50px;
	}

	header.dashboard .dropdown li {
		padding: 0 !important;
		background: 0 none !important;
	}

	header.dashboard .dropdown a .link-title:hover {
		background-color: rgba(208, 129, 44, 0.863) !important;
    border-radius: 15px !important;
	}

	header.dashboard li.parent > a {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

}

.main-content {
	width: 100%;
}

.table-container {
	overflow: auto;
}

.main-content h1 {
	text-transform: uppercase;
	font-size: 1.5rem;
	background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(172, 0, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: repeat;
	text-align: center;
	padding-bottom: 10px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.main-content p {
	text-align: center;
	padding-bottom: 10px;
	text-shadow: 2px 2px 5px rgba(255, 81, 0, 0.664);
}

.main-content .panel-wrapper {
	margin: 20px 0;
	box-shadow: 0px 1px 5px #777;
}

.main-content .panel-wrapper .panel-head {
	background-color: #3a1801;
	color: #fff;
	padding: 10px 10px;
	border: 1px solid #3a1801;
}

.main-content .panel-wrapper .panel-body {
	padding: 20px 10px;
	font-size: 80%;
}

header.dashboard nav {
  position: relative;
  background: 0 none;
}

header.dashboard nav ul {

  flex-direction: column;
  padding: 0;
  text-align: left;
  width: 100%;
}



/*****************************/

header.dashboard nav li {
	font-size: 150%;
	opacity: 0.7;
	transition: all 0.2s;
}

.sidebar .nav-dashboard > a:hover {
	opacity: 1;
}

.sidebar .nav-dashboard  a span {
	font-weight: 300;
}

.sidebar .nav-dashboard  ul {
	list-style: none;
}

.sidebar .nav-dashboard  ul li {
	font-size: 70%;
	padding: 19px 0;
	padding-left: 20px;
	border-bottom: 0.5px solid rgba(17, 17, 17, 0.801);
}

.sidebar .nav-dashboard  ul li:nth-child(1):hover {
	background-color: #e67e22;
}

.sidebar .nav-dashboard  ul li:nth-child(1).active {
	background-color: #e67e22;
}

.sidebar .nav-dashboard  ul li:nth-child(2):hover {
	background-color: #e9ab00;
}

.sidebar .nav-dashboard  ul li:nth-child(3):hover {
	background-color: #e94a00;
}

.sidebar .nav-dashboard  ul li:nth-child(4):hover {
	background-color: #e21203;
}

.sidebar .nav-dashboard  ul li a {
	color: #D7D5D5;
}

.sidebar .nav-dashboard  ul li:hover a {
	color: #fff;
}


table {
	left: 10%;
	margin: 20px auto;
	overflow-y: scroll;
	width: 80%;
}

thead th {
	background: #e67e22;
	color: #FFF;
  font: normal 400 16px 'Nunito', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 4px;
	border: 2px solid rgba(58, 29, 2, 0.486);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
}

th,
td {
  font: normal 400 18px 'Nunito', sans-serif;
	padding: 20px;
	text-align: left;

  width: calc(100% / 4);
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.247);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-wrap: break-word;
}
