@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*NAVBAR*/

nav {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #4d1605db;
}

.logo {
	background: -webkit-linear-gradient(
		rgb(255, 174, 0),
		rgb(172, 0, 0)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 20px;
}

.nav-links a:hover {
	transition: 0.5s;
	background-color: rgb(208, 128, 44);
}

.nav-links a:active {
	background-color: rgb(208, 44, 44);
}

/*NAVBAR END*/

/*MAIN-FORM */

.mainSection {
	position: relative;
	align-items: center;
	padding: 20px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(
			30deg,
			rgba(250, 14, 14, 0.5),
			rgba(243, 208, 9, 0.75)
		),
		url('../img/paws.jpg');
}

.mainContainer {
	position: relative;
	width: 800px;
	height: 500px;
	background-color: #431f04c4;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.user {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.imageBox {
	position: relative;
	width: 50%;
	height: 100%;
	background: white;
	transition: 0.5s;
}

.imageBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.formBox {
	position: relative;
	width: 50%;
	height: 100%;
	background-color: #431f04c4;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	transition: 0.5s;
}

form h2 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	width: 100%;
	margin: 12px;
	color: #f37520;
}

form input {
	position: relative;
	width: 100%;
	padding: 12px;
	background-color: rgb(216, 212, 212);
	color: rgba(0, 0, 0, 0.535);
	border: 2px;
	border-radius: 15px 40px;
	outline: none;
	box-shadow: none;
	margin: 8px 0;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 300;
}

#submit-si,
#submit-su {
	max-width: 100px;
	background: #c9281c;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500px;
	letter-spacing: 1px;
	transition: 0.5s;
}

#submit-si:hover,
#submit-su:hover {
	background-color: rgb(238, 143, 0);
}

.signupQuestion {
	position: relative;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: rgb(177, 176, 176);
	text-transform: uppercase;
	font-weight: 300px;
}

.signupQuestion a {
	font-weight: 600;
	text-decoration: none;
	color: #f37520;
}

.mainContainer .signupBox {
	pointer-events: none;
}

.mainContainer.active .signupBox {
	pointer-events: initial;
}

.mainContainer .signupBox .formBox {
	left: 100%;
}

.mainContainer.active .signupBox .formBox {
	left: 0;
}

.mainContainer .signupBox .imageBox {
	left: -100%;
}

.mainContainer.active .signupBox .imageBox {
	left: 0;
}

.mainContainer .signinBox .formBox {
	left: 0;
}

.mainContainer.active .signinBox .formBox {
	left: 100%;
}

.mainContainer .signinBox .imageBox {
	left: 0;
}

.mainContainer.active .signinBox .imageBox {
	left: -100%;
}

/* MAIN-FORM END*/

/*JS ERRORS*/

#warning-confirm {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

#warning-length {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

#warning-email {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

#warning-name-short {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

#warning-name-long {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

#warning-name-error {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

#warning-error {
	color: rgb(230, 0, 0);
	background-color: none;
	font-size: 12px;
	font-weight: 400;
	display: none;
}

/* JS ERRORS END*/

/* FOOTER */
footer {
	position: absolute;
	top: 100%;
	width: 100%;
	background: #351301;
	color: #fff;
	display: grid;
	place-items: center;
	padding: 0.5em;
	font-size: 1.2rem;
}

footer p {
	padding: 0;
	font-size: 0.8em;
	color: hsla(0, 50%, 100%, 0.35);
	margin: 1em 0;
	font-size: 1rem;
}

footer li {
	display: inline-block;
	justify-content: space-between;
	padding: 7px;
}

/* FOOTER END*/
