@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    background-image: linear-gradient(30deg,
            rgba(250, 14, 14, 0.5),
            rgba(243, 208, 9, 0.75)),
        url('../img/paws.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAVBAR*/

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #4d1605db;
    padding: 0;
    margin: 0;
}

.logo {
    background: -webkit-linear-gradient(rgb(255, 174, 0), rgb(172, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.nav-links {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

.nav-links li {
    text-transform: uppercase;
    display: inline;
}

.nav-links a {
    letter-spacing: 2px;
    font-size: 13px;
    text-decoration: none;
    padding: 7px 13px;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}

.nav-links a:hover {
    transition: 0.5s;
    background-color: rgba(208, 129, 44, 0.863);
    border-radius: 15px;
}

/*NAVBAR END*/

/* MAIN */
.auto-slider {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 10px 10px 20px;
    background: -webkit-linear-gradient(rgba(59, 41, 2, 0.603), rgba(73, 2, 2, 0.623));
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);

}

#slider img {
    opacity: 0.9;
}

#slider img:hover {
    opacity: 1;
}

.auto-slider h1 {
    padding-bottom: 10px;
    font-size: 2rem;
    color: #cf7f07;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 25s sliding ease infinite;
}

@keyframes sliding {
    0% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    100% {
        left: 0%;
    }
}

/* MAIN END */

/* FOOTER */
footer {
    position: absolute;
    top: 100%;
    width: 100%;
    background: #351301;
    color: #fff;
    place-items: center;
    font-size: 1.2rem;
    margin: 0;
    display: grid;
    flex-flow: row wrap;
    padding: 20px 30px 20px 30px;
}

footer p {
    padding: 0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}

footer li {
    display: inline-block;
    justify-content: space-between;
    padding: 7px;
}

footer p a {
    text-decoration: none;
    color: rgba(255, 175, 1, 0.678);
}

footer p a {
    text-decoration: none;
    color: rgba(255, 175, 1, 0.678);
}

/* FOOTER END*/